.headerContainer {
width: 100%;

 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;


background-color: #904E55;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5em;
}

@media only screen and (max-width: 600px) {

  }