.main {

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
 min-height: 100vh;
}
.container {

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
  align-items: center;

}
.splineinfo {
  width: 50%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1em;
}

/**animations**/


@media only screen and (min-width: 768px) { 
  .splineinfo {
    padding: 6em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
@media only screen and (max-width: 414px) {
  .container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
  }
  .splineinfo {
    padding: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
